node_modules/

npm-debug.log
yarn-error.log
yarn-debug.log
logs

.git
.gitignore
.svn
.hg
.CVS

.vscode
.idea
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

coverage/
*.log

/dist
/build

.env.local
.env.development
.env.test

README.md
docs/


